<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.semesterProject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="movieApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab5milestone1">
        <activity
            android:name=".CreateAccount"
            android:exported="true" />
        <activity
            android:name=".appHome"
            android:exported="true" />
        <activity
            android:name=".CreateGroup"
            android:exported="true" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>